$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  //padding: 0;
  //background-color: #1a0000;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

.fill
{
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 25px;
  padding-top: 10px;
  //background-color: #404040;
}
/* Custom page header */
.header {
  border-bottom: 0px solid #191007;
  margin-bottom: 0px;
  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}
.table-responsive {
  padding-left: 50px;
  padding-right: 50px;
  //background-color: transparent;
}

th {
  font-style: oblique;
}
.row{
  align-items: stretch;;
}
.col-md-3{
  background-color: blue;
}
.col-md-9{
  background-color: red;
}
/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 2px solid #e5e5e5;


}
.btn-success{
  margin-left: 25px;
  padding: 10px;
}
.btn-info{
  margin: 1px;
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 0px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
/* Remove rounded borders from list */
.list-group-item:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.list-group-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

/* Remove border and add padding to thumbnails */
.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}

.thumbnail p {
    margin-top: 15px;
    color: #555;
}

/* Black buttons with extra padding and without rounded borders */
.btn1 {
    padding: 10px 20px;
    background-color: #333;
    color: #f1f1f1;
    border-radius: 0;
    transition: .2s;
}

/* On hover, the color of .btn will transition to white with black text */
.btn1:hover, .btn1:focus {
    border: 1px solid #333;
    background-color: #fff;
    color: #000;
}
.backgroundTheme{
   background-size:110% auto;
   //background-image: url("../images/720pTheater.png");
   background-repeat: no-repeat;
   background-position: right top;
}
